:host {
  overflow: hidden;
  height: 100%;
  display: block;
}

.panel-header {
  border-bottom: 1px solid #e8e8e8;
  background: #edeff6;
  font-size: 0.85rem;
  position: sticky;
}

.panel-button {
  border-bottom: 2px solid #1c6ef3;
  padding: 4px;
  width: 60px;
  text-align: center;
}

.panel-body {
  overflow: auto;
  height: calc(100% - 48px);
}
