:host {
  overflow: hidden;
  height: 100%;
  display: block;
}

.panel-header {
  border-bottom: 1px solid #e8e8e8;
  background: #edeff6;
  display: flex;
  font-size: 0.8rem;
  position: sticky;
}

.panel-button {
  padding: 4px;
  width: 100px;
  text-align: center;
  cursor: pointer;
}

.selected-panel-button {
  color: #1c6ef3;
  border-bottom: 2px solid #1c6ef3;
}

.panel-body {
  overflow: auto;
  height: 100%;
}

.hide-panel {
  display: none !important;
}
