<!-- INSERT NEW COMPONENT HERE -->

<ng-container *ngIf="data()?.getType() == 'button'">
  @defer (on viewport) {
  <app-button [data]="data()!" />
  } @placeholder {
  <component-loader />
  }
</ng-container>

<ng-container *ngIf="data()?.getCheckbox() != null">
  @defer (on viewport) {
  <app-checkbox [key]="key()" [config]="data()!.getCheckbox()!" />
  } @placeholder {
  <component-loader />
  }
</ng-container>

<ng-container *ngIf="data()?.getType() == 'text'">
  @defer (on viewport) {
  <app-text [data]="data()!" />
  } @placeholder {
  <component-loader />
  }
</ng-container>

<ng-container
  *ngFor="let child of component.getChildrenList(); trackBy: trackByFn"
>
  <component-renderer [component]="child"> </component-renderer>
</ng-container>
