<!-- INSERT NEW COMPONENT HERE -->

<ng-container *ngIf="data()?.getButton() != null">
  @defer (on viewport) {
  <app-button [config]="data()!.getButton()!" />
  } @placeholder {
  <component-loader />
  }
</ng-container>

<ng-container *ngIf="data()?.getCheckbox() != null">
  @defer (on viewport) {
  <app-checkbox [key]="key()" [config]="data()!.getCheckbox()!" />
  } @placeholder {
  <component-loader />
  }
</ng-container>

<ng-container *ngIf="data()?.getText() != null">
  @defer (on viewport) {
  <app-text [config]="data()!.getText()!" />
  } @placeholder {
  <component-loader />
  }
</ng-container>

<ng-container
  *ngFor="let child of component.getChildrenList(); trackBy: trackByFn"
>
  <component-renderer [component]="child"> </component-renderer>
</ng-container>
