.overall {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.header {
  border-bottom: 1px solid rgb(220, 220, 220);
  height: 48px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-title {
  font-weight: 700;
  font-size: 16px;
}

.container {
  flex-grow: 1;
}

.content-frame {
  padding: 0 12px 12px 12px;
}

.top-content-padding {
  height: 12px;
}

.content-frame-border {
  border: 1px solid #dcdcdc;
  height: calc(100% - 12px);
  display: flex;
  flex-direction: column;
  overflow: auto;
}

.left-sidenav {
  width: 200px;
}

.right-sidenav {
  width: 420px;
}

.resize-handle {
  border-right: 0.75px solid gainsboro;
  border-radius: 1px;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0px;
  width: 8px;
  cursor: ew-resize;
  z-index: 9999999;
  background: rgb(252, 252, 252);
}

.remaining-space {
  flex-grow: 1;
}
