.container {
  height: 100%;
}

.content {
  overflow: hidden;
}

.content-frame-border {
  border: 1px solid #dcdcdc;
  height: 100%;
  overflow: auto;
}

.right-sidenav {
  width: 420px;
}

.resize-handle {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0px;
  width: 8px;
  cursor: ew-resize;
  z-index: 9999999;
  background: transparent;
}

.editor-button-container {
  position: absolute;
  right: -6px;
  bottom: 48px;
  background: #fff;
  z-index: 999;
  border-radius: 20px 0 0 20px;
  width: 48px;
  box-shadow:
    0 3px 1px -2px #0003,
    0 2px 2px #00000024,
    0 1px 5px #0000001f;
}
