.node,
.node-container,
.node-body {
  display: flex;
  align-items: center;
}

.add-component {
  visibility: hidden;
  cursor: pointer;
}

.highlighted-node .add-component {
  visibility: visible;
}

.leaf-node {
  height: 24px;
  margin-left: 16px;
}

.selected-node {
  background: #a1c1f99c;
  padding: 6px;
  margin: -6px;
  border-radius: 6px;
}

.button {
  height: 24px;
  width: 24px;
  background: white;
  border: 0;
  cursor: pointer;
  margin-right: 2px;
}

.name {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.label {
  font-size: 0.8rem;
  margin-left: 6px;
  font-style: italic;
  // Truncate label if needed.
  max-width: 150px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
