.container {
  height: 100%;
}

.component-name {
  font-weight: 500;
  font-size: 18px;
  padding: 16px;
  text-transform: capitalize;
}
.field-name {
  font-weight: 500;
  margin-bottom: 12px;
}
.fields-section {
}

.field-block {
  margin: 0 16px 0 16px;
}

.other-fields-divider {
  margin: 12px 0;
}

.other-fields-title {
  font-weight: 500;
  margin-left: 12px;
}

.non-typed-field-name {
  margin: 12px;
}
