.field-name {
  font-weight: 500;
  margin-bottom: 12px;
}
.fields-section {
}

.struct-section {
  margin: 8px 0;
  border: 1px solid #dcdcdc;
  border-radius: 8px;
}

.struct-name {
  padding: 8px 0 0 8px;
  font-weight: 700;
}

.select {
  border: 0;
}

.select:focus {
  outline: none;
}

.input-label {
  // font-family: monospace;
  color: #bd1b1b;
}

.input {
  border: 0;
  // font-family: monospace;
}

.input:focus {
  outline: none;
}

.field-block {
  margin: 0 8px;
  font-family: monospace;
}

.other-fields-divider {
  margin: 12px 0;
}

.other-fields-title {
  font-weight: 500;
  margin-left: 12px;
}

.non-typed-field-name {
  margin: 12px;
}
