:host {
  font-family: monospace;
}

.field-name {
  font-weight: 500;
  margin-bottom: 12px;
}

.add-property {
  padding-left: 8px;
  padding-top: 4px;
}

.add-property .select {
  width: 24px;
}

.list-section {
  display: flex;
  flex-direction: column;
}

.struct-section {
  margin: 8px 0;
}

.struct-body {
  border-left: 1px solid #dcdcdc;
  margin-left: 10px;
  margin-top: 2px;
}

.struct-header {
  display: flex;
}

.struct-name {
  padding: 8px 8px 0 8px;
  font-weight: 700;
}

.select {
  border: 0;
}

.select:focus {
  outline: none;
}

.input-label {
  color: #1c6ef3;
}

.input {
  border: 0;
}

.input:focus {
  outline: none;
}

.field-block {
  margin: 0 6px 4px 8px;
  display: flex;
  align-items: center;
}

.other-fields-title {
  font-weight: 500;
  margin-left: 12px;
}

.non-typed-field-name {
  margin: 12px;
}

.delete-field {
  cursor: pointer;
  color: #555;
  height: 18px;
  width: 18px;
  font-size: 18px;
  visibility: hidden;
}

.add-element {
  cursor: pointer;
  color: #555;
  display: flex;
  align-items: center;
  margin: 4px;
}

.field-block-active .delete-field {
  visibility: visible;
}

.non-editable-section {
  padding: 8px;
}
