.logs-panel {
  white-space: preserve;
  height: 100%;
}

.viewport {
  height: 100%;
  width: 100%;
}

// See: https://github.com/angular/components/issues/24277
cdk-virtual-scroll-viewport {
  ::ng-deep .cdk-virtual-scroll-content-wrapper {
    max-width: 100% !important;
  }
}

.log-element {
  font-family: monospace;
  font-size: 0.75rem;
  border-bottom: 1px solid #d3e2fd;
  padding: 6px;
  margin-bottom: 4px;
}
