<div *ngIf="error" class="error">
  <div class="exception">
    <span class="exception-title">ERROR: </span>{{error.getException()}}
  </div>
  <div class="traceback-heading">Traceback</div>
  <div class="traceback">
    <ng-container *ngFor="let frame of error.getTraceback()!.getFramesList()">
      <div
        *ngIf="frame.getIsAppCode() || showFullTraceback() "
        class="traceback-segment"
        [ngClass]="{'highlight': frame.getIsAppCode() && showFullTraceback()}"
      >
        <div class="frame-title">{{formatFrame(frame)}}</div>
        <div class="line-group">
          <div
            *ngFor="let line of frame.getLinesList()"
            [ngClass]="{'caller': line.getIsCaller() && frame.getIsAppCode()}"
          >
            <ng-container *ngIf="line.getIsCaller() || frame.getIsAppCode()">
              {{line.getCode()}}
            </ng-container>
          </div>
        </div>
      </div>
    </ng-container>
  </div>
  <a
    *ngIf="!showFullTraceback()"
    class="show-full-traceback"
    (click)="turnOnFullTraceBack()"
    >Show full traceback</a
  >
</div>
