.error {
  background-color: #ffe8ef;
  padding: 28px;
  color: #9e4242;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  position: absolute;
  z-index: 9999;
  width: 100%;
}

.close-button {
  background: none;
  border: none;
  color: #872c0a;
  font-weight: 500;
  font-size: 23px;
  cursor: pointer;
  top: 6px;
  position: absolute;
  left: 0px;
}

.exception {
  font-size: 1.5rem;
  font-weight: 500;
  padding-bottom: 12px;
  white-space: preserve;
}

.traceback-heading {
  font-weight: 500;
  font-size: 1.2rem;
}

.traceback {
  font-family: monospace;
  font-size: 0.9rem;
  line-height: 1.5;
  white-space: preserve;
  padding: 8px;
  border-radius: 12px;
  margin-top: 4px;
}

.traceback-segment {
  color: #444;
  margin-bottom: 1rem;
  background: #f2f2f2;
  border-radius: 12px;
}

.traceback-segment.highlight {
  background: white;
}

.frame-title {
  color: #333;
  background: #ffbbbbe0;
  margin-bottom: 4px;
}

.line-group {
  margin-left: 2rem;
}
.caller {
  border: 4px solid #c86464;
}

.show-full-traceback {
  text-decoration: underline;
  font-size: 1rem;
}

.show-full-traceback:hover {
  cursor: pointer;
}

.status {
  height: 8px;
}
