// Based on: https://github.com/angular/angular/blob/15a825c113701583773fa028259518b63760c3b4/devtools/styles.scss

@use 'sass:map';
@use 'external/npm/node_modules/@angular/material/index' as mat;
@use 'external/npm/node_modules/@angular/material-experimental/index' as matx;

// Normalize as it's expected by Angular:
// https://github.com/angular/components/issues/12133
@import 'normalize';

@include mat.all-component-typographies();
@include mat.core();

$m3-dark-theme: matx.define-theme(
  (
    color: (
      theme-type: dark,
      primary: matx.$m3-azure-palette,
    ),
  )
);

$m3-light-theme: matx.define-theme(
  (
    color: (
      primary: matx.$m3-azure-palette,
    ),
  )
);

body {
  @include mat.all-component-themes($m3-light-theme);
}

.dark-theme {
  @include mat.all-component-colors($m3-dark-theme);
}

html,
body {
  --default-font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
    'Segoe UI Symbol';
  padding: 0;
  margin: 0;
  height: 100%;
  // Use system font.
  font-family: var(--default-font-family);
  -webkit-font-smoothing: antialiased;
}

* {
  box-sizing: border-box;
}

// Need these as global styles since markdown HTML is rendered specially.
.markdown * {
  margin: 0;
  padding: 0;
  list-style: none;
}

@media (pointer: fine) {
  @supports not (selector(::-webkit-scrollbar)) {
    * {
      scrollbar-color: #dadce0 transparent;
      scrollbar-gutter: auto;
      scrollbar-width: thin;
    }
  }

  ::-webkit-scrollbar,
  ::-webkit-scrollbar-corner {
    background: transparent;
    height: 12px;
    width: 12px;
  }

  ::-webkit-scrollbar-thumb {
    background: content-box currentColor;
    border: 2px solid transparent;
    border-radius: 8px;
    color: #dadce0;
    min-height: 48px;
    min-width: 48px;
  }

  :hover::-webkit-scrollbar-thumb {
    color: #80868b;
  }

  ::-webkit-scrollbar-thumb:active {
    color: #5f6368;
  }

  ::-webkit-scrollbar-button {
    height: 0;
    width: 0;
  }
}

// Make it so wide code examples do not overflow. Instead show a horizontal scrollbar.
mesop-markdown pre {
  overflow-x: scroll;
}
