// Based on: https://github.com/angular/angular/blob/15a825c113701583773fa028259518b63760c3b4/devtools/styles.scss

@use 'sass:map';
@use 'external/npm/node_modules/@angular/material/index' as mat;
@use 'external/npm/node_modules/@angular/material-experimental/index' as matx;

// Normalize as it's expected by Angular:
// https://github.com/angular/components/issues/12133
@import 'normalize';

@include mat.all-component-typographies();
@include mat.core();

$m3-light-theme: matx.define-theme(
  (
    color: (
      primary: matx.$m3-azure-palette,
      tertiary: matx.$m3-chartreuse-palette,
    ),
  )
);

body {
  @include mat.all-component-themes($m3-light-theme);
  @include matx.color-variants-back-compat($m3-light-theme);
}

html,
body {
  --default-font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
    'Segoe UI Symbol';
  padding: 0;
  margin: 0;
  height: 100%;
  // Use system font.
  font-family: var(--default-font-family);
  -webkit-font-smoothing: antialiased;
}

* {
  box-sizing: border-box;
}

// Need these as global styles since markdown HTML is rendered specially.
.markdown * {
  margin: 0;
  padding: 0;
  list-style: none;
}

@media (pointer: fine) {
  @supports not (selector(::-webkit-scrollbar)) {
    * {
      scrollbar-color: #dadce0 transparent;
      scrollbar-gutter: auto;
      scrollbar-width: thin;
    }
  }

  ::-webkit-scrollbar,
  ::-webkit-scrollbar-corner {
    background: transparent;
    height: 12px;
    width: 12px;
  }

  ::-webkit-scrollbar-thumb {
    background: content-box currentColor;
    border: 2px solid transparent;
    border-radius: 8px;
    color: #dadce0;
    min-height: 48px;
    min-width: 48px;
  }

  :hover::-webkit-scrollbar-thumb {
    color: #80868b;
  }

  ::-webkit-scrollbar-thumb:active {
    color: #5f6368;
  }

  ::-webkit-scrollbar-button {
    height: 0;
    width: 0;
  }
}

// Make it so wide code examples do not overflow. Instead show a horizontal scrollbar.
mesop-markdown pre {
  overflow-x: scroll;
}

// Generated with pygments
// pygmentize -S xcode -f html -a .highlight > style.css
pre {
  line-height: 125%;
}
td.linenos .normal {
  color: inherit;
  background-color: transparent;
  padding-left: 5px;
  padding-right: 5px;
}
span.linenos {
  color: inherit;
  background-color: transparent;
  padding-left: 5px;
  padding-right: 5px;
}
td.linenos .special {
  color: #000000;
  background-color: #ffffc0;
  padding-left: 5px;
  padding-right: 5px;
}
span.linenos.special {
  color: #000000;
  background-color: #ffffc0;
  padding-left: 5px;
  padding-right: 5px;
}
.highlight .hll {
  background-color: #ffffcc;
}
.highlight {
  background: #ffffff;
}
.highlight .c {
  color: #177500;
} /* Comment */
.highlight .err {
  color: #000000;
} /* Error */
.highlight .k {
  color: #a90d91;
} /* Keyword */
.highlight .l {
  color: #1c01ce;
} /* Literal */
.highlight .n {
  color: #000000;
} /* Name */
.highlight .o {
  color: #000000;
} /* Operator */
.highlight .ch {
  color: #177500;
} /* Comment.Hashbang */
.highlight .cm {
  color: #177500;
} /* Comment.Multiline */
.highlight .cp {
  color: #633820;
} /* Comment.Preproc */
.highlight .cpf {
  color: #177500;
} /* Comment.PreprocFile */
.highlight .c1 {
  color: #177500;
} /* Comment.Single */
.highlight .cs {
  color: #177500;
} /* Comment.Special */
.highlight .kc {
  color: #a90d91;
} /* Keyword.Constant */
.highlight .kd {
  color: #a90d91;
} /* Keyword.Declaration */
.highlight .kn {
  color: #a90d91;
} /* Keyword.Namespace */
.highlight .kp {
  color: #a90d91;
} /* Keyword.Pseudo */
.highlight .kr {
  color: #a90d91;
} /* Keyword.Reserved */
.highlight .kt {
  color: #a90d91;
} /* Keyword.Type */
.highlight .ld {
  color: #1c01ce;
} /* Literal.Date */
.highlight .m {
  color: #1c01ce;
} /* Literal.Number */
.highlight .s {
  color: #c41a16;
} /* Literal.String */
.highlight .na {
  color: #836c28;
} /* Name.Attribute */
.highlight .nb {
  color: #a90d91;
} /* Name.Builtin */
.highlight .nc {
  color: #3f6e75;
} /* Name.Class */
.highlight .no {
  color: #000000;
} /* Name.Constant */
.highlight .nd {
  color: #000000;
} /* Name.Decorator */
.highlight .ni {
  color: #000000;
} /* Name.Entity */
.highlight .ne {
  color: #000000;
} /* Name.Exception */
.highlight .nf {
  color: #000000;
} /* Name.Function */
.highlight .nl {
  color: #000000;
} /* Name.Label */
.highlight .nn {
  color: #000000;
} /* Name.Namespace */
.highlight .nx {
  color: #000000;
} /* Name.Other */
.highlight .py {
  color: #000000;
} /* Name.Property */
.highlight .nt {
  color: #000000;
} /* Name.Tag */
.highlight .nv {
  color: #000000;
} /* Name.Variable */
.highlight .ow {
  color: #000000;
} /* Operator.Word */
.highlight .mb {
  color: #1c01ce;
} /* Literal.Number.Bin */
.highlight .mf {
  color: #1c01ce;
} /* Literal.Number.Float */
.highlight .mh {
  color: #1c01ce;
} /* Literal.Number.Hex */
.highlight .mi {
  color: #1c01ce;
} /* Literal.Number.Integer */
.highlight .mo {
  color: #1c01ce;
} /* Literal.Number.Oct */
.highlight .sa {
  color: #c41a16;
} /* Literal.String.Affix */
.highlight .sb {
  color: #c41a16;
} /* Literal.String.Backtick */
.highlight .sc {
  color: #2300ce;
} /* Literal.String.Char */
.highlight .dl {
  color: #c41a16;
} /* Literal.String.Delimiter */
.highlight .sd {
  color: #c41a16;
} /* Literal.String.Doc */
.highlight .s2 {
  color: #c41a16;
} /* Literal.String.Double */
.highlight .se {
  color: #c41a16;
} /* Literal.String.Escape */
.highlight .sh {
  color: #c41a16;
} /* Literal.String.Heredoc */
.highlight .si {
  color: #c41a16;
} /* Literal.String.Interpol */
.highlight .sx {
  color: #c41a16;
} /* Literal.String.Other */
.highlight .sr {
  color: #c41a16;
} /* Literal.String.Regex */
.highlight .s1 {
  color: #c41a16;
} /* Literal.String.Single */
.highlight .ss {
  color: #c41a16;
} /* Literal.String.Symbol */
.highlight .bp {
  color: #5b269a;
} /* Name.Builtin.Pseudo */
.highlight .fm {
  color: #000000;
} /* Name.Function.Magic */
.highlight .vc {
  color: #000000;
} /* Name.Variable.Class */
.highlight .vg {
  color: #000000;
} /* Name.Variable.Global */
.highlight .vi {
  color: #000000;
} /* Name.Variable.Instance */
