flask
absl-py
deepdiff==6.*
msgpack
markdown
protobuf
pydantic
pygments
python-dotenv

# Deps for dev/testing:
mypy-protobuf
pytest

# Deps for docs:
mkdocs-material
mkdocstrings[python]

# Deps for examples:
anthropic
firebase-admin
google-generativeai
matplotlib
pandas
