flask
absl-py
deepdiff==6.*
msgpack
protobuf
pydantic
python-dotenv

# Optional (lazily-loaded) deps:
sqlalchemy
flask-sock

# greenlet is needed for SQL Alchemy depending on the architecture, but because of how
# Bazel works using requirements_lock.txt, it does seem to able to install the
# architecture specific requirements (in this case caught on Github CI).
#
# See this comment https://github.com/sqlalchemy/sqlalchemy/discussions/8392#discussioncomment-3400992
greenlet

# Deps for dev/testing:
mypy-protobuf
pytest

# Deps for docs:
mkdocs-material
mkdocstrings[python]

# Deps for examples:
firebase-admin
google-genai
matplotlib
pandas
werkzeug>=3.0.6 # not directly required, pinned by Snyk to avoid a vulnerability
fonttools>=4.43.0 # not directly required, pinned by Snyk to avoid a vulnerability
pillow>=10.3.0 # not directly required, pinned by Snyk to avoid a vulnerability
requests>=2.32.2 # not directly required, pinned by Snyk to avoid a vulnerability
urllib3>=2.2.2 # not directly required, pinned by Snyk to avoid a vulnerability
zipp>=3.19.1 # not directly required, pinned by Snyk to avoid a vulnerability
