flask
absl-py
markdown
protobuf
pydantic
pygments
deepdiff==6.7.1

# Deps for dev/testing:
mypy-protobuf
pytest

# Deps for docs:
mkdocs-material
mkdocstrings[python]

# Deps for examples:
matplotlib
pandas
