<mat-checkbox
  [required]="config().getRequired()"
  [labelPosition]="getLabelPosition()"
  [name]="config().getName()!"
  [value]="config().getValue()!"
  [disableRipple]="config().getDisableRipple()"
  [tabIndex]="config().getTabIndex()"
  [color]="config().getColor()"
  [checked]="config().getChecked()"
  [disabled]="config().getDisabled()"
  [indeterminate]="config().getIndeterminate()"
  (change)="onCheckboxChangeEvent($event)"
  (indeterminateChange)="onCheckboxIndeterminateChangeEvent($event)"
>
  <ng-content></ng-content>
</mat-checkbox>
