<mat-radio-group
  [color]="getColor()"
  [labelPosition]="getLabelPosition()"
  [value]="config().getValue()"
  [disabled]="config().getDisabled()"
  [required]="config().getRequired()"
  (change)="onRadioChangeEvent($event)"
>
  @for(option of config().getRadioOptionsList(); track index; let index =
  $index) {
  <mat-radio-button
    [aria-label]="config().getRadioOptionsList()[index].getLabel()!"
    [value]="config().getRadioOptionsList()[index].getValue()"
  >
    {{config().getRadioOptionsList()[index].getLabel()}}
  </mat-radio-button>
  }
</mat-radio-group>
