.container {
  height: 100%;
}

.component-name {
  font-weight: 500;
  font-size: 16px;
  padding: 8px;
  text-transform: capitalize;
}

.empty-state-message {
  padding: 16px;
}

.tree-container {
  margin-top: 8px;
  margin-bottom: 16px;
}

.component-tree-title {
  font-weight: 500;
  padding-left: 8px;
  padding-bottom: 4px;
}
