:host {
  font-size: 14px;
  display: flex;
  flex-direction: column;
  height: 100%;

  --default-bottom-panel-height: 400px;
}

.container {
  height: 100%;
}

.component-header {
  padding: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.component-name {
  font-weight: 500;
  font-size: 16px;
  text-transform: capitalize;
}

.empty-state-message {
  padding: 16px;
}

.top-panel {
  margin-top: 8px;
  margin-bottom: 16px;
  overflow: auto;
  margin-bottom: var(--default-bottom-panel-height);
}

.bottom-panel {
  height: var(--default-bottom-panel-height);
  overflow: auto;
  background: white;
  position: absolute;
  bottom: 0;
  width: 100%;
}

.component-tree-title {
  font-weight: 500;
  padding-left: 8px;
  padding-bottom: 4px;
}

.resize-handle {
  height: 8px;
  cursor: ns-resize;
  z-index: 9999999;
  background: transparent;
}
