:host {
  overflow: hidden;
  height: 100%;
  display: block;
}

.panel-header {
  border-bottom: 1px solid #dcdcdc;
  border-left: 1px solid #dcdcdc;
  display: flex;
  font-size: 0.9rem;
  position: fixed;
  line-height: 1.5;
  align-items: center;
  font-weight: 500;
  background: #fff;
  width: 100%;
}

.inspect-button {
  cursor: pointer;
  margin: 4px;
}

.selected-inspect-button {
  color: #1c6ef3;
}

.panel-button {
  padding: 4px;
  width: 100px;
  text-align: center;
  cursor: pointer;
}

.selected-panel-button {
  color: #1c6ef3;
  border-bottom: 2px solid #1c6ef3;
}

.panel-body {
  margin-top: 40px; // Size of panel header.
  overflow: auto;
  height: 100%;
  padding-bottom: 24px; // Approximately the panel header (button) height.
}

.hide-panel {
  display: none !important;
}
