:host {
  --font-color: #0d0d0d;
}

.command-window {
  background: #f0f0f1;
  opacity: 0.95;

  color: var(--font-color);
  width: 60vw;
  max-width: 600px;
  min-width: 400px;
  border: 1px solid #e5e6e7;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}

.input {
  border-radius: 12px;
  color: var(--font-color);
  background: inherit;
  width: 100%;
  font-size: 1rem;
  border: unset;
  height: 48px;
  padding-left: 8px;
}

.input:focus {
  outline: none;
}

.body {
  overflow: auto;
  padding: 16px;
  max-height: 400px;
}

.section {
  margin-bottom: 12px;
}

.section-title {
  font-size: 12px;
  font-weight: 500;
  color: #636364;
  margin-bottom: 8px;
}

.command-row {
  cursor: pointer;
  font-size: 16px;
  line-height: 2;
}
