<h3 mat-dialog-title>Mesop Editor History</h3>
<mat-dialog-content class="mat-typography">
  <div class="history-container">
    <div class="prompt-list">
      Most recent interactions first
      <!-- comment to keep formatting -->
      @for (interaction of history; track interaction; let i = $index) {
      <div class="prompt-item" (click)="selectInteraction(i)">
        <div class="prompt-item-text">{{ interaction.prompt }}</div>
        <strong>Page: {{ interaction.path }}</strong>
      </div>
      }
    </div>
    <div class="code-display">
      @if (selectedInteraction !== null) {
      <button
        class="save-interaction-button"
        mat-icon-button
        (click)="saveSelectedInteraction()"
        aria-label="Save interaction"
        matTooltip="Save interaction"
      >
        <mat-icon>save</mat-icon>
      </button>
      <mesop-code-mirror-diff
        [beforeCode]="history[selectedInteraction].beforeCode"
        [afterCode]="history[selectedInteraction].afterCode"
      />
      }
    </div>
  </div>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button [mat-dialog-close]="false">Cancel</button>
  <button
    mat-button
    [mat-dialog-close]="selectedInteraction"
    cdkFocusInitial
    [disabled]="selectedInteraction === null"
  >
    Revert
  </button>
</mat-dialog-actions>
