<div
  class="floating-editor-toolbar"
  [ngClass]="{'hidden': isToolbarMinimized}"
  cdkDrag
  cdkDragBoundary="body"
  (cdkDragEnded)="onDragEnded($event)"
  #toolbar
>
  <button mat-icon-button class="toggle-button" (click)="toggleToolbar()">
    <mat-icon>{{ isToolbarMinimized ? 'open_in_full' : 'hide' }}</mat-icon>
  </button>

  @if (!isToolbarMinimized) {

  <button
    mat-icon-button
    (click)="toggleSelectingMode()"
    [matTooltip]="getSelectComponentTooltip()"
  >
    <mat-icon [ngClass]="{'selected-inspect-button': isSelectingMode()}"
      >frame_inspect</mat-icon
    >
  </button>
  <textarea
    #textarea
    disabled="{{isLoading}}"
    placeholder="{{isLoading ? 'Generating...' : 'Type in the UI change... ' + getToolbarShortcutText() }}"
    class="floating-editor-toolbar-textarea"
    [(ngModel)]="prompt"
    (ngModelChange)="onPromptChange($event)"
    (keydown.enter)="onEnter($event)"
    [matAutocomplete]="auto"
  ></textarea>
  <mat-autocomplete
    hideSingleSelectionIndicator="true"
    #auto="matAutocomplete"
    class="floating-editor-toolbar-autocomplete"
  >
    @for (option of filteredOptions; track option) {
    <mat-option [value]="option.prompt">
      <mat-icon>{{option.icon}}</mat-icon>
      <span [innerHTML]="option.prompt | highlight: prompt"></span>
    </mat-option>
    }
  </mat-autocomplete>
  @if (responseTime > 0) {
  <div>
    <span>{{responseTime | number:'1.1-1'}}s</span>
  </div>
  }

  <button
    mat-icon-button
    (click)="sendPrompt()"
    [disabled]="isLoading"
    [matTooltip]="'Generate code'"
  >
    <mat-icon>send</mat-icon>
  </button>

  <button
    mat-icon-button
    (click)="openHistory()"
    [disabled]="history.length === 0"
  >
    <mat-icon>history</mat-icon>
  </button>
  }
</div>
