.header {
  padding: 12px;
  font-weight: 700;
  border-bottom: 1px solid #dcdcdc;
}

.background {
  background: #fafafa;
}

.block {
  display: flex;
  height: 48px;
  border: 1px solid #dcdcdc;
  border-radius: 4px;
  margin: 12px;
  padding: 12px;
  background: #fff;
  cursor: grab;
  justify-content: space-between;
  align-items: center;
}
