<mat-form-field
  [hideRequiredMarker]="config().getHideRequiredMarker()"
  [color]="getColor()"
  [floatLabel]="getFloatLabel()"
  [appearance]="getAppearance()"
  [subscriptSizing]="getSubscriptSizing()"
  [hintLabel]="config().getHintLabel()"
  ><mat-label>{{config().getLabel()}}</mat-label>
  @if(config().getType() === "textarea") {
  <textarea
    matInput
    [disabled]="config().getDisabled()"
    [id]="config().getId()"
    [placeholder]="config().getPlaceholder()"
    [name]="config().getName()"
    [required]="config().getRequired()"
    [type]="config().getType()"
    [aria-describedby]="config().getUserAriaDescribedBy()"
    [value]="config().getValue()"
    [readonly]="config().getReadonly()"
    (input)="onInput($event)"
    [rows]="config().getTextareaRows()"
  ></textarea>
  } @else {
  <input
    matInput
    [disabled]="config().getDisabled()"
    [id]="config().getId()"
    [placeholder]="config().getPlaceholder()"
    [name]="config().getName()"
    [required]="config().getRequired()"
    [type]="config().getType()"
    [aria-describedby]="config().getUserAriaDescribedBy()"
    [value]="config().getValue()"
    [readonly]="config().getReadonly()"
    (input)="onInput($event)"
  />
  }
</mat-form-field>
