<mat-form-field
  [hideRequiredMarker]="config().getHideRequiredMarker()"
  [color]="getColor()"
  [floatLabel]="getFloatLabel()"
  [appearance]="getAppearance()"
  [subscriptSizing]="getSubscriptSizing()"
  [hintLabel]="config().getHintLabel()!"
  [style]="getStyle()"
  ><mat-label>{{config().getLabel()}}</mat-label>
  @if(config().getIsTextarea()) {
  <textarea
    matInput
    [disabled]="config().getDisabled()"
    [id]="config().getId()!"
    [placeholder]="config().getPlaceholder()!"
    [required]="config().getRequired()"
    [type]="config().getType()!"
    [value]="config().getValue()"
    [readonly]="config().getReadonly()"
    (input)="onInput($event)"
    [rows]="config().getRows()"
  ></textarea>
  } @else {
  <input
    matInput
    [disabled]="config().getDisabled()"
    [id]="config().getId()!"
    [placeholder]="config().getPlaceholder()!"
    [required]="config().getRequired()"
    [type]="config().getType()!"
    [value]="config().getValue()"
    [readonly]="config().getReadonly()"
    (input)="onInput($event)"
  />
  }
</mat-form-field>
